@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply m-0 font-montserrat;
}
*,
::before,
::after {
  border-width: 0;
}
* {
  @apply font-montserrat;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.activeExpert {
  @apply sm:mx-2 transform transition-all duration-500 ease-in-out w-full sm:w-[150%] h-[36vh] md:h-[56vh] lg:h-[65vh];
}
.expertDiv h2 {
  @apply text-[5vw] sm:text-[2.6vw] absolute w-auto block h-auto ml-[15px] bottom-[5%] sm:bottom-[3%] font-light;
  writing-mode: vertical-lr;
  rotate: 180deg;
}
.activeExpert h2 {
  @apply bottom-[7%] sm:bottom-[5%] tracking-[3px] w-auto font-extrabold;
}
.serviceContainer::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
/* Tailwind CSS classes for the heatmap */
.color-empty {
  fill: #ebedf0; /* Empty cell color */
}

.color-blue-0 {
  fill: #cce4f6; /* Low contribution color */
}

.color-blue-1 {
  fill: #87ceeb;
}

.color-blue-2 {
  fill: #4da9f0;
}

.color-blue-3 {
  fill: #007bff; /* High contribution color */
}
.sticky-sidebar{
  position: sticky;
  top: 0;
}