@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.aboutintro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/images/aboutIntro.jpg");
  background-size: 100%;
  background-position: center;
  mix-blend-mode: screen;
}
.aboutMsg {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.active {
  @apply mx-1 transform transition-all duration-500 ease-in-out w-[680px] h-[fullpx];
}
.expertDiv h2 {
  padding: 12px;
  writing-mode: vertical-lr;
  display: block;
  height: auto;
  margin-left: 0;
}
